.deleteBtn {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
  font-size: 15px;
  border-radius: 100%;
  height: 32px;
  width: 32px;
  background-color: #edafb8;
  color: #213547;
  border: none;
  margin-left: auto;
  outline: none;
  transition: all 300ms;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.deleteBtn:hover,
.deleteBtn:focus {
  background-color: #d3babd;
  outline: #d3babd;
}

.name {
  font-size: 16px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .name {
    font-size: 18px;
    font-weight: 500;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.string {
  display: flex;
  align-items: center;
  gap: 8px;
}
